:root {
  --nav-font: "Nunito", sans-serif;
  --default-font: "Libre Baskerville", serif;
}

html {
  font-size: calc(0.5em + 0.5vw);
}

.row {
  margin: 0 !important;
}

h1 {
  font-weight: 600;
}

.teal-text {
  color: #21ad93;
}

.thewidth75 {
  width: 75%;
  margin: auto;
}

@media screen and (max-width: 991.9px) {
  .thewidth75 {
    width: 90%;
  }
}

.header-desktop {
  background-color: white;
  font-family: var(--nav-font);
  letter-spacing: 2px;
}

.header-desktop nav {
  font-size: 0.8em;
}

.header-mobile {
  font-size: 2.4em;
  background-color: white;
  font-family: var(--nav-font);
  letter-spacing: 2px;
}

.contact {
  color: #21ad93;
}

nav a {
  color: #373737;
}

.thetitle {
  font-family: var(--default-font);
  font-weight: 600;
}

.thetitle img {
  width: 4em;
}

.thebody {
  background-color: #f3f3f3;
  font-family: var(--nav-font);
}

.main-h1 {
  font-family: var(--default-font);
}

@media screen and (max-width: 991.9px) {
  .main-content {
    font-size: 1.4em;
  }
}

/* portfolio cards */
.stacksh2 {
  font-family: var(--default-font);
}

.languagedescription {
  font-size: 1.4em;
}

.languagecardnotrightmost {
  border-right: 1px silver solid;
  border-bottom: none;
}

.languagelist {
  list-style: none;
  padding: 0;
  font-size: 1.4em;
}

.languageicon {
  font-size: 3em;
  color: #21ad93;
}

.blockquote-footer {
  font-size: 1.1em;
}

@media screen and (max-width: 991.9px) {
  .stacksh2 {
    font-family: var(--default-font);
  }

  .languageicon {
    color: #21ad93;
  }
}

@media screen and (max-width: 767.9px) {
  .languagecardnotrightmost {
    border-right: none;
    border-bottom: 1px silver solid;
  }
}

.footerlogo img {
  width: 6em;
}

.portfoliolist {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.portfoliocard {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767.9px) {
  .portfoliocard {
    display: block;
  }
}

.portfoliocardcontents {
  flex-basis: calc((91%) / 3);
  margin: 1.5%;
}

/* end portfolio cards */

/* footer */
.footer {
  padding: 5%;
  background-color: #21ad93;
}

.copyright-text img {
  width: 6em;
}

/* end footer */

.abutton {
  display: block;
  color: #21ad93;
  text-decoration-line: none;
  transition: all ease 0.5s;
}

.abutton:hover {
  color: navy;
  text-decoration-line: none;
}

.imagelink {
  display: block;
  transition: 0.5s ease all;
}

.imagelink img {
  height: 12em;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease all;
}
.imagelink:hover img {
  opacity: 50%;
}
