<header class="header-desktop container-fluid p-3 d-none d-sm-none d-md-block">
  <div class="row">
    <div class="col-sm-4 thetitle">
      <img src="/rjaysitenew logo.png" alt="rjay site" />
    </div>
    <div class="col-sm-4 text-center">
      <nav class="row">
        <a class="col-sm-4" href="/home">
          HOME
        </a>
        <a class="col-sm-4" href="#portfolio">
          PROJECTS
        </a>
        <a class="col-sm-4" href="/blog">
          BLOG
        </a>
      </nav>
    </div>
    <div class="col-sm-4 text-right contact">
      <a href="/contact/"> CONTACT &nbsp; <i class="fa fa-envelope"></i></a>
    </div>
  </div>
</header>
<header class="header-mobile p-3 container-fluid d-block d-sm-block d-md-none">
  <div class="row">
    <div class="col-4" id="burger-menu" onclick="burgerclick()">
      <i class="fa fa-bars"></i>
    </div>
    <div class="col-4 text-center thetitle">
      <img src="/rjaysitenew logo.png" alt="rjay site" />
    </div>
    <div class="col-4 text-right">
      <i class="fa fa-envelope"></i>
    </div>
  </div>
  <div class="container-fluid d-none" id="nav-mobile">
    <nav class="text-center mobilenav p-3">
      <a class="p-2 border-bottom" href="/home">
        HOME
      </a>
      <a class="p-2 border-bottom" href="#portfolio">
        PROJECTS
      </a>
      <a class="p-2 border-bottom" href="/blog">
        BLOG
      </a>
    </nav>
  </div>
</header>
